[Desktop Entry]
Name=War3D
Comment=Multiplayer 3D War Game
Exec=war3d
Terminal=false
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
